:root {
    --yellow: #F7EC59;
    --light-yellow: #DED870;
    --light-blue: #A4ADD1;
    --lighter-blue: #DCE1F6;
    --white-blue: #EDF2F4;
    --dark-blue: #2B2D42;
    --darker-blue: #1C1D2E;
    --darkest-blue: #111629;
    --dark-grey: #222222;
    --red: #921c24;
    --dark-red: #670007;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    background-color: var(--dark-blue);
    margin: auto;
    font-family: "Proxima Nova", sans-serif;
}

nav {
    background-color: var(--darker-blue);
}

main {
    position: relative;
    /* max-width: 1280px; */
    width: 1280px;
    padding: 0 160px;
}

h1, h2, h3, h4, h5 {
    font-family: "Ligurino", sans-serif;
    margin: 0;
}

h1 {
    font-size: 90px;
    color: var(--lighter-blue);
}

h2 {
    font-size: 60px;
    font-weight: normal;
    color: var(--light-blue);
}

h3 {
    font-size: 48px;
    font-weight: normal;
    color: var(--yellow);
}

h4 {
    font-size: 40px;
    color: var(--yellow);
}

h5 {
    font-size: 24px;
    color: var(--lighter-blue);
}

section {
    margin-bottom: 500px;
}

p, li {
    font-size: 24px;
    color: var(--light-blue);
}

a {
    text-decoration: none;
    color: var(--white-blue);
}

button {
    font-family: "Proxima Nova", sans-serif;
}

#home, #about, #projects {
    padding-top: 150px;
}

#home h2, #about h3, #projects h3, #contact h3 {
    margin-bottom: 40px;
}

.yellow-txt {
    color: var(--yellow);
}

.nav-container {
    position: sticky;
    top: 0;
}

.nav-logo img {
    background-color: var(--darkest-blue);
    width: 200px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.nav-menu a {
    padding: 16px;
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid var(--dark-blue);
}

.nav-menu a:first-child {
    border-top: 2px solid var(--dark-blue);
}

.projects-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background-color: var(--dark-blue);
    padding: 8px 16px;
}

.project-details {
    width: 70%;
}

.project-details p, .project-details li {
    font-size: 18px;
}

.project-list {
    background: 
    linear-gradient(var(--dark-blue), 
    var(--dark-blue)) padding-box,
    linear-gradient(217deg,
    var(--light-blue) 0%,
    var(--light-yellow) 12%, 
    var(--dark-blue) 12%,
    var(--dark-blue) 88%, 
    var(--light-yellow) 88%,
    var(--light-blue) 100%) border-box;

    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: 4px solid transparent;
    padding: 80px 40px;
    list-style: none;
    box-shadow: 0px 0px 2px var(--darker-blue);
}

.project-list li {
    margin-bottom: 24px;
}

.project-list li:last-child {
    margin-bottom: 0;
}

.project-btn {
    font-size: 18px;
    font-weight: 300;
    border: none;
    background-color: var(--dark-blue);
    color: var(--lighter-blue);
    cursor: pointer;
    padding: 0 2px 2px 0;
    border-width: 1px;
    border-style: none none solid none;
    border-image: linear-gradient(to right,
    var(--yellow),
    var(--light-blue)) 1;
    transition: 0.1s;
}

.project-btn:hover {
    font-size: 19px;
    font-weight: 400;
}

.project-img {
    width: 100%;
    opacity: 0.8;
    border: 12px solid var(--dark-grey);
    border-bottom: 36px solid var(--dark-grey);
    border-radius: 7px;
}

.project-btns a {
    top: 32px;
}

a.cta {
    position: relative;
    top: 20px;
    padding: 17px 54px 18px 54px;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 24px;
}

a.btn-git {
    color: var(--darkest-blue);
    background-color: var(--light-blue);
}

a.btn-yellow {
    color: var(--darkest-blue);
    background-color: var(--yellow);
}