---
import Icon from "./Icon.astro";
import CallToAction from "./CallToAction.astro";
const currentYear = new Date().getFullYear();
const linkStyling =
  "text-sm text-gray-200 dark:text-primary-lighter underline decoration-transparent underline-offset-2 hover:decoration-current duration-200";
---

<footer
  class="border-grey border-t bg-shade px-8 py-6 text-gray-100 dark:bg-shade dark:text-gray-400 sm:px-16 sm:py-12"
>
  <div class="flex flex-col justify-between">
    <div class="text-left">
      <h2 class="font-semibold">Contact</h2>
      <p>mathias@herholdt.dev</p>
    </div>
    <div class="mt-3 w-fit">
      <CallToAction href="mailto:mathias@herholdt.dev">
        Message me
        <Icon icon="paper-plane-tilt" />
      </CallToAction>
    </div>
    <hr class="my-5" />
  </div>

  <div class="flex justify-between">
    <div class="hidden sm:block">
      <h3 class="text-sm font-semibold">You can also find me here</h3>
      <p>
        <a
          class={linkStyling}
          href="https://github.com/devholdt"
          target="_blank"
        >
          GitHub</a
        >
      </p>
      <p>
        <a
          class={linkStyling}
          href="https://www.linkedin.com/in/mathias-herholdt-b5a5bb204/"
          target="_blank"
        >
          LinkedIn</a
        >
      </p>
      <p>
        <a
          class={linkStyling}
          href="https://twitter.com/harboldtt"
          target="_blank"
        >
          Twitter</a
        >
      </p>
    </div>
    <div
      class="mt-auto flex flex-row flex-wrap gap-4 text-nowrap md:flex-col md:flex-nowrap md:gap-2"
    >
      <p>&copy;{currentYear} Mathias B. Herholdt</p>
    </div>
  </div>
</footer>
