---
import Icon from "@components/Icon.astro";
import CallToAction from "@components/CallToAction.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="flex items-end justify-between border-t bg-shade p-4 text-gray-100 dark:bg-shade dark:text-gray-400"
>
  <div class="flex w-full flex-col xs:w-auto">
    <div class="text-left">
      <h3 class="font-semibold">Contact</h3>

      <div class="my-2">
        <p class="text-sm font-extralight text-gray-100 dark:text-gray-300">
          Send me an email:
        </p>
        <p>mathias@herholdt.dev</p>
      </div>
    </div>
    <CallToAction href="mailto:mathias@herholdt.dev">
      Message me
      <Icon icon="paper-plane-tilt" />
    </CallToAction>
  </div>

  <div class="hidden flex-col xs:flex sm:justify-between">
    <p class="text-sm font-light">
      Made with 💜 in <a
        href="https://astro.build"
        target="_blank"
        class="underline hover:text-gray-300">Astro</a
      >
    </p>
    <p class="text-xs text-gray-300">&copy;{currentYear} Mathias B. Herholdt</p>
  </div>
</footer>
