---
import ThemeToggle from "@components/ThemeToggle.astro";
import Icon from "@components/Icon.astro";
import Hero from "@components/Hero.astro";

const { headerStyles, buttonDivStyles, backButton, heroTitle, heroTagline } =
  Astro.props;
---

<header class={`container mx-auto flex flex-col px-4 ${headerStyles}`}>
  <div class={`flex ${buttonDivStyles}`} transition:animate="none">
    {
      backButton && (
        <a
          href="/"
          class="back-link p-2 text-gray-100 underline decoration-transparent underline-offset-4 duration-200 ease-in-out hover:decoration-current dark:text-primary-lightest"
        >
          <Icon icon="arrow-left" />
          Back
        </a>
      )
    }
    <div class="theme-toggle mb-8">
      <ThemeToggle />
    </div>
  </div>
  <Hero title={heroTitle} tagline={heroTagline} />
</header>
