---
import type { CollectionEntry } from "astro:content";

import Icon from "@components/Icon.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { data, slug } = Astro.props.project;
---

<a
  href={`/projects/${slug}`}
  class="grid:min-h-[150px] list:items-center grid:flex-col flex justify-between rounded-sm border border-shade bg-white px-2 py-2 shadow-sm transition hover:bg-gray-400 dark:border-shade dark:bg-shade dark:text-gray-400 dark:shadow-md dark:hover:border-gray-300 sm:px-4"
>
  <div class="grid:mb-4">
    <p
      class="sm:grid:text-2xl grid:text-xl list:text-base sm:list:text-lg font-[300] tracking-wider dark:font-[200]"
    >
      {data.title}
    </p>
    <p class="list:hidden flex text-sm font-[200] dark:text-gray-300">
      {data.description}
    </p>
  </div>
  <div
    class="list:ms-4 list:items-center sm:grid:justify-end list:flex grid:flex flex-wrap gap-1"
  >
    {
      data.tags?.map((tag) => (
        <p class="list:hidden h-fit text-nowrap rounded bg-primary-regular px-2 py-1 text-sm tracking-wider text-white transition hover:bg-primary-lighter">
          {tag}
        </p>
      ))
    }
    <div class="grid:hidden ms-4 text-primary-regular">
      <Icon icon="chevron-right" />
    </div>
  </div>
</a>
