---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { data, slug } = Astro.props.project;
---

<a
  href={`/projects/${slug}`}
  class="grid:h-[120px] list:items-center grid:flex-col flex justify-between rounded-sm border border-shade bg-white px-4 py-2 shadow-sm transition hover:bg-gray-400 dark:border-shade dark:bg-shade dark:text-gray-400 dark:shadow-md dark:hover:border-gray-300"
>
  <p
    class="list:text-lg grid:text-xl font-[300] tracking-wider dark:font-[200]"
  >
    {data.title}
  </p>
  <div class="flex gap-1">
    {
      data.tags?.map((tag) => (
        <p class="h-fit rounded bg-primary-regular px-2 py-1 text-sm tracking-wider text-white transition hover:bg-primary-lighter">
          {tag}
        </p>
      ))
    }
  </div>
</a>
