---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  project: CollectionEntry<"projects">;
}

const { data, slug } = Astro.props.project;
---

<a
  class="card group relative grid h-48 overflow-hidden rounded-lg font-heading text-lg font-normal shadow-md duration-200 ease-in-out before:absolute before:left-0 before:top-0 before:h-full before:w-full before:bg-shade before:opacity-100 before:transition before:content-[''] hover:scale-105 hover:shadow-xl before:hover:opacity-0 md:h-60"
  href={`/projects/${slug}`}
  data-astro-prefetch="tap"
>
  <span
    class="title z-10 m-2 bg-gray-400 px-4 py-2 text-gray-100 shadow-md transition duration-200 ease-in-out grid-area-title group-hover:opacity-0 dark:bg-gray-100 dark:text-gray-500"
  >
    {data.title}
  </span>
  <Image
    class="h-full w-full object-cover grid-area-image"
    src={data.img_main}
    alt={data.img_main_alt || ""}
    width="400"
    height="400"
    loading="lazy"
    decoding="async"
  />
</a>
