---
import Icon from "@components/Icon.astro";

const iconStyles =
  "icon flex z-10 relative p-2 w-8 h-8 text-base text-gray-300 transition-transform-color";
---

<theme-toggle>
  <button
    class="relative flex rounded-full bg-gray-400 shadow-inner dark:bg-gray-200"
  >
    <span
      class="theme-name absolute m-[-1px] h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 clip-rect"
      >Dark theme</span
    >
    <span
      class={`light ${iconStyles} before-light before:bg-primary-dark dark:before:bg-primary-dark`}
    >
      <Icon icon="sun" />
    </span>
    <span class={`dark ${iconStyles}`}>
      <Icon icon="moon-stars" />
    </span>
  </button>
</theme-toggle>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button")!;

      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? "add" : "remove"]("dark");
        button.setAttribute("aria-pressed", String(dark));
      };

      button.addEventListener("click", () => setTheme(!this.isDark()));

      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains("dark");
    }
  }
  customElements.define("theme-toggle", ThemeToggle);
</script>
