---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

const projects = await getCollection("projects");
---

<BaseLayout>
  <div class="gap-20 lg:gap-48">
    <div class="wrapper">
      <div class="theme-toggle flex justify-end w-full mb-10">
        <ThemeToggle />
      </div>
      <header class="hero flex flex-col">
        <Hero
          title="Hello, my name is Mathias B. Herholdt"
          tagline="I am a front-end development student at Noroff University"
        />
      </header>
    </div>

    <main class="wrapper gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <div class="section-header mb-4 text-center md:text-left">
          <h3 class="text-3xl md:text-5xl">Projects</h3>
        </div>
        <ul class="grid gap-6 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
          {
            projects.map((project) => (
              <li>
                <PortfolioPreview project={project} />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </div>
</BaseLayout>

<style>
  .section-header h3 {
    color: var(--gray-0);
  }
</style>
