---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ProjectCard from "../components/astro/ProjectCard.astro";
import Header from "../components/astro/Header.astro";

import ProjectsMapWrapper from "../components/react/ProjectsMapWrapper";

const projects = await getCollection("projects");

projects.sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));
---

<BaseLayout>
  <div class="gap-20 lg:gap-48">
    <Header
      buttonDivStyles="justify-end"
      backButton={false}
      heroTitle="Hello, my name is Mathias B. Herholdt"
      heroTagline="Frontend developer"
    />

    <div
      class="container mx-auto my-20 px-4 text-lg text-gray-200 dark:text-gray-500 md:text-2xl"
    >
      <p class="max-w-prose">
        I am a frontend developer from Norway with a passion for creating
        quality websites and applications with a great sense of detail. Check
        out some of my projects below to get a sense of what I can do.
      </p>
    </div>

    <hr />

    <div class="container mx-auto mt-20 gap-20 px-4 lg:gap-48">
      <section class="section with-background with-cta">
        <div class="section-header mb-4 text-center md:text-left">
          <h3
            class="font-heading text-3xl text-gray-100 dark:text-gray-500 md:text-5xl"
          >
            Projects
          </h3>
        </div>
        <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3">
          {
            projects.map((project) => {
              return (
                <ProjectsMapWrapper client:load>
                  <li>
                    <ProjectCard project={project} />
                  </li>
                </ProjectsMapWrapper>
              );
            })
          }
        </ul>
      </section>
    </div>
  </div>
</BaseLayout>
