---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Header from "@components/Header.astro";
import LayoutToggle from "@components/LayoutToggle.astro";

const projects = await getCollection("projects");

projects.sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));
---

<BaseLayout>
  <div class="gap-20 lg:gap-48">
    <Header
      buttonDivStyles="justify-end"
      backButton={false}
      heroTitle="Hello, I'm Mathias!"
      heroTagline="Frontend developer"
      headerStyles="text-center sm:text-left"
    />

    <div
      class="container mx-auto my-20 px-4 text-lg text-gray-200 dark:text-gray-500 md:text-2xl"
    >
      <p class="max-w-prose font-[150] dark:font-[100]">
        I am a frontend developer from Norway with a passion for creating
        quality websites and applications with a great sense of detail. Check
        out some of my projects below to get a sense of what I can do.
      </p>
    </div>

    <hr class="container mx-auto border-shade" />

    <div class="container mx-auto mt-20 gap-20 px-4 lg:gap-48">
      <section class="with-background with-cta">
        <div
          class="mb-4 flex items-end justify-between text-center md:text-left"
        >
          <h3
            class="font-heading text-3xl font-[300] text-gray-100 dark:text-gray-500 md:text-5xl"
          >
            Projects
          </h3>
          <LayoutToggle />
        </div>
        <div
          class="gap-2 grid:grid grid:grid-cols-1 list:flex list:flex-col md:grid:grid-cols-2 lg:grid:grid-cols-3"
        >
          {
            projects.map((project) => {
              return <ProjectCard project={project} />;
            })
          }
        </div>
      </section>
    </div>
  </div>
</BaseLayout>
