---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

const projects = await getCollection("projects");

projects.sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));
---

<BaseLayout>
  <div class="gap-20 lg:gap-48">
    <header class="container mx-auto flex flex-col px-4">
      <div class="theme-toggle mb-10 flex w-full justify-end">
        <ThemeToggle />
      </div>
      <Hero
        title="Hello, my name is Mathias B. Herholdt"
        tagline="Front-end developer student at Noroff University"
      />
    </header>

    <div
      class="container mx-auto my-20 px-4 text-2xl text-gray-200 dark:text-gray-500"
    >
      <p class="max-w-prose">
        I am a front-end developer with a passion for creating quality websites
        and applications with a great sense of detail. I am currently studying
        at Noroff University, and I am working on a few personal projects on the
        side.
      </p>
    </div>

    <hr />

    <div class="container mx-auto mt-20 gap-20 px-4 lg:gap-48">
      <section class="section with-background with-cta">
        <div class="section-header mb-4 text-center md:text-left">
          <h3
            class="font-heading text-3xl text-gray-100 dark:text-gray-500 md:text-5xl"
          >
            Projects
          </h3>
        </div>
        <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3">
          {
            projects.map((project) => {
              return (
                <li>
                  <ProjectCard project={project} />
                </li>
              );
            })
          }
        </ul>
      </section>
    </div>
  </div>
</BaseLayout>
