---
// import Button from "./Button.astro";
import Icon from "./Icon.astro";
---

<div class="flex">
  <Icon icon="github" />
  <Icon icon="x-twitter" />
  <!-- <Button>
    <Icon icon="github" />
  </Button>
  <Button>
    <Icon icon="x-twitter" />
  </Button> -->
</div>
