---
import Button from "./Button.astro";
import Icon from "./Icon.astro";
const iconStyles =
  "w-16 bg-light p-2 rounded-full hover:bg-teal transition-colors duration-100 ease-in-out";
---

<div class="flex gap-x-3">
  <Button classList={iconStyles}>
    <Fragment slot="label">
      <Icon icon="github" />
    </Fragment>
  </Button>
  <Button classList={iconStyles}>
    <Fragment slot="label">
      <Icon icon="x-twitter" />
    </Fragment>
  </Button>
</div>
