---
import IconGroup from "./IconGroup.astro";

const getYear = () => new Date().getFullYear();
const { name = "Mathias B. Herholdt", year = getYear() } = Astro.props;
---

<footer class="flex flex-col items-center gap-5 mt-16">
  <p class="text-teal text-xl">{name} - {year}</p>
  <IconGroup />
</footer>
