---
import fs from "node:fs";

interface Props {
  gallery: string;
  dir: string;
  alt: string;
}

const { gallery, dir, alt } = Astro.props;

const images = fs.readdirSync("src/content/projects/assets/" + dir + "/");
---

<div class="flex w-full flex-wrap gap-4">
  {
    images.map((image, id) => (
      <>
        <a
          href={"#" + gallery + "-" + id}
          id={"i" + gallery + "-" + id}
          class="scroll-mt-20"
        >
          <img
            src={"/assets/" + dir + "/" + image}
            class="aspect-square h-full max-h-[240px] w-full rounded-md border border-shade object-cover object-top shadow transition hover:scale-105 dark:border-gray-200"
            {alt}
          />
        </a>
        <a
          href={"#i" + gallery + "-" + id}
          class="fixed inset-0 hidden items-center justify-center bg-black/80 p-4 target:flex sm:p-6"
          id={gallery + "-" + id}
        >
          <img
            src={"/assets/" + dir + "/" + image}
            class="h-full w-full object-contain object-top"
            {alt}
          />
        </a>
      </>
    ))
  }
</div>
