---
interface Props {
  title: string;
  tagline?: string;
}

const { tagline, title } = Astro.props;
---

<div
  class:list={[
    "text-md flex max-w-[768px] flex-col gap-4 sm:text-lg md:order-1 md:text-left md:text-2xl",
  ]}
>
  <div>
    <h1
      class="title font-heading text-3xl font-[400] text-gray-100 dark:text-gray-500 sm:text-4xl sm:font-[300] md:text-5xl"
    >
      {title}
    </h1>
    {
      tagline && (
        <p class="tagline font-[200] tracking-wider text-gray-200 dark:text-primary-lightest">
          {tagline}
        </p>
      )
    }
  </div>
  <slot />
</div>
