---
interface Props {
  title: string;
  tagline?: string;
}

const { tagline, title } = Astro.props;
---

<div
  class:list={[
    "hero stack gap-4 text-center text-md flex order-2 md:order-1 md:text-left sm:text-lg md:text-2xl",
  ]}
>
  <div class="stack gap-2">
    <h1 class="title text-3xl sm:text-5xl md:text-7xl">{title}</h1>
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</div>

<style>
  .title {
    color: var(--gray-0);
  }
</style>
