---
import Button from "./Button.astro";
import Icon from "./Icon.astro";
const iconStyles =
  "w-16 bg-light p-2 rounded-full hover:bg-teal transition-colors duration-100 ease-in-out";
---

<div class="flex gap-x-3">
  <Button id="iconGithub" classList={iconStyles}>
    <Fragment slot="label">
      <Icon icon="github" />
    </Fragment>
  </Button>
  <Button id="iconTwitter" classList={iconStyles}>
    <Fragment slot="label">
      <Icon icon="x-twitter" />
    </Fragment>
  </Button>
</div>
<script>
  document.querySelector("#iconGithub").addEventListener("click", () => {
    window.open("https://github.com/MHerholdt94", "_blank");
  });
  document.querySelector("#iconTwitter").addEventListener("click", () => {
    window.open("https://twitter.com/Harboldtt", "_blank");
  });
</script>
