<div
  class="pill text-gray-400 dark:text-gray-100 bg-primary-regular dark:bg-primary-regular border border-primary-regular dark:border-primary-regular"
>
  <slot />
</div>

<style>
  .pill {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 999rem;
    line-height: 1.35;
    white-space: nowrap;
  }
</style>
