<div
  class="pill text-gray-999 dark:text-graydark-999 bg-primary-regular dark:bg-primarydark-regular border border-primary-regular dark:border-primarydark-regular"
>
  <slot />
</div>

<style>
  .pill {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 999rem;
    line-height: 1.35;
    white-space: nowrap;
  }
</style>
