---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { data, slug } = Astro.props.project;
---

<a
  class="card grid shadow-md hover:shadow-xl text-lg font-normal duration-200 ease-in-out overflow-hidden h-48 md:h-60"
  href={`/projects/${slug}`}
>
  <span
    class="title bg-gray-999 dark:bg-graydark-999 text-gray-50 dark:text-graydark-50 z-10 m-2 px-4 py-2 shadow-md"
    >{data.title}</span
  >
  <img
    class="w-full h-full object-cover"
    src={data.img_main}
    alt={data.img_main_alt || ""}
    loading="lazy"
    decoding="async"
  />
</a>

<style>
  .card {
    position: relative;
    font-family: var(--font-brand);
    border-radius: 0.5rem;
  }

  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  }

  .card:hover::before {
    opacity: 0;
  }

  .card:hover {
    transform: scale(1.03);
  }

  .card:hover .title {
    opacity: 0%;
  }

  .title {
    grid-area: 1 / 1 / 2 / 2;
    transition: 0.2s ease-in-out;
  }

  img {
    grid-area: 1 / 1 / 3 / 3;
  }
</style>
