---
import Button from "./Button.astro";
const projects = await Astro.glob("../content/projects/*.md");
---

<div style={{ display: "flex", flexDirection: "column" }}>
    {projects.map(project => <Button>{project.frontmatter.title}</Button>)}
</div>
