---
import { getCollection } from "astro:content";
import Button from "./Button.astro";
import Heading from "./Heading.astro";
const projects = await getCollection("projects");
const styles =
  "project-link my-1 p-0 bg-transparent self-start text-white text-2xl font-semibold hover:text-teal transition-colors duration-100 ease-in-out";
---

<Heading content="Projects" level="2" />
<div class="flex flex-col my-5">
  {
    projects.map((project) => (
      <Button target={`${project.slug}`} classList={styles}>
        <Fragment slot="label">{project.data.title}</Fragment>
      </Button>
    ))
  }
</div>

<script>
  const projectLink = document.querySelectorAll(".project-link");
  projectLink.forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const target = e.target as HTMLElement;
      console.log(target.dataset.target);
      location.href = `/content/projects/${target.dataset.target}`;
    });
  });
</script>
