---
const projects = [
    "GameHub", 
    "Tønsberg Science Museum",
    "Time/Signature",
    "UrSpace",
    "Bidify"]
---

<div>
    {projects.map((project) => (
        <button>
            {project}
        </button>
    ))}
</div>
