---
import Button from "./Button.astro";
const projects = await Astro.glob("../content/projects/*.md");
---

<div class="flex flex-col my-5">
  {projects.map((project) => <Button>{project.frontmatter.title}</Button>)}
</div>
