---
import Button from "./Button.astro";
import Heading from "./Heading.astro";
const projects = await Astro.glob("../content/projects/*.md");
const styles =
  "my-1 p-0 bg-transparent self-start text-white text-xl font-semibold hover:text-teal transition-colors duration-100 ease-in-out";
---

<Heading content="Projects" level="2" />
<div class="flex flex-col my-5">
  {
    projects.map((project) => (
      <Button classList={styles}>
        <Fragment slot="label">{project.frontmatter.title}</Fragment>
      </Button>
    ))
  }
</div>
