---
export function getStaticPaths() {
  return [
    { params: { project: "bidify" } },
    { params: { project: "gamehub" } },
    { params: { project: "urspace" } },
    { params: { project: "tbgsciencemuseum" } },
    { params: { project: "timesignature" } },
  ];
}

const project = Astro.params;
---

<h1>Project: {project}</h1>
