---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body class="bg-gray-500 font-body antialiased dark:bg-gray-100">
    <div>
      <main
        class="m-2 flex flex-col gap-10 border-4 border-primary-light pb-4 pt-2 md:m-6 md:border-8 md:pb-8 md:pt-5"
      >
        <slot />
      </main>
      <Footer />
    </div>

    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      localStorage.theme = "light";
      localStorage.theme = "dark";
      localStorage.removeItem("theme");
    </script>
  </body>
</html>
