---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MHerholdt94 Portfolio</title>
  </head>
  <body>
    <Header />
    <Footer />
  </body>
</html>