---
import Heading from "../components/Heading.astro";
import TextContent from "../components/TextContent.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import "../styles/output.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MHerholdt94 Portfolio</title>
  </head>
  <body
    class="bg-dark flex flex-col min-h-screen border-4 border-teal m-5 px-16 pt-16 pb-10"
  >
    <main class="flex-1">
      <Heading content="Herholdt" />
      <TextContent
        styles="text-white antialiased my-48 max-w-screen-sm text-2xl"
      >
        <p class="text-4xl font-bold">Hello!</p>
        <p>
          I am a front-end developer with a passion for creating beautiful
          websites and applications with a great sense of detail. I am currently
          studying at Noroff University, and I am working on a few personal
          projects on the side.
        </p>
      </TextContent>
      <Projects />
    </main>
    <Footer />
  </body>
</html>
