---
import Heading from "../components/Heading.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import "../styles/output.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MHerholdt94 Portfolio</title>
  </head>
  <body class="bg-dark flex flex-col min-h-screen">
    <main class="m-5 px-16 pt-16 pb-10 border-4 border-teal">
      <Heading />
      <Projects />
      <Footer />
    </main>
  </body>
</html>
