---
import Projects from "../components/Projects.astro";
const projects = await Astro.glob("../content/projects/*.md");
---

<Projects />

{projects.map(project => <h1>{project.frontmatter.title}</h1>)}
