---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title="Project" content="Project">
  <h1>Project</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque officiis
    magnam saepe suscipit impedit aliquid. Facere sunt maxime iure? Alias
    laudantium assumenda magnam! Quos tenetur voluptatibus nam rerum. Iste,
    blanditiis!
  </p>
</BaseLayout>
